---
title: Code
layout: layouts/category.njk
tag: code
---

<article class="h-entry clickable" data-url="/devlog/">
  <header>
    <h2 class="p-name">
      <a class="u-url u-uid" href="/devlog/">
        Devlog
      </a>
    </h2>
    <p class="sub-meta">
      <span class="p-author h-card">
        <a class="u-url p-name" href="/">Stille Jia-Rou</a>
      </span>
    </p>
  </header>
  <p class="p-summary">Read about the making of this site!</p>
</article>

<!-- regular category feed here -->