<section class="homepage-flex">
  <div class="reading-width">
    <h1>Welcome!</h1>
    <p>
      This is my personal site with stuff! I post about anything, but try to focus on guides about my current intrests. This
      site is mostly for me to play around with coding but feel <br>free to look around! Also, I'm
      <a class="u-url u-uid p-name p-author h-card" href="/about/">Jia-Rou</a>
      - The Webmaster. And <br>I like to learn things!
    </p>
  </div>
  <img class="u-photo" src="/img/profile-picture.jpg" loading="lazy" alt="A sheep drawn in the snow" style="width: 300px; border-radius: 50%; border: solid var(--surface); margin: auto;">
</section>
<style>
  .flex-feed .flex-card {
    cursor: pointer;
  }
</style>
<div class="h-feed flex-feed">
  <article class="h-entry clickable flex-card" data-url="/art/">
    <h2 class="p-name">
      <a class="u-url u-uid" href="/art/">Art</a>
    </h2>
    <p class="p-summary">Novels, Photography and Music.</p>
  </article>
  <article class="h-entry clickable flex-card" data-url="/code/">
    <h2 class="p-name">
      <a class="u-url u-uid" href="/code/">Code</a>
    </h2>
    <p class="p-summary">Guides, Devlogs and Thoughts</p>
  </article>
</div>
<a href="/weiqi/guide-pt1/">
  <marquee class="subtle">Check Out Now! Weiqi Beginner's Guide</marquee>
</a>
<div class="h-feed flex-feed">
  <article class="h-entry clickable flex-card" data-url="/weiqi/">
    <h2 class="p-name">
      <a class="u-url u-uid" href="/weiqi/">Weiqi</a>
    </h2>
    <p class="p-summary">Guides and Kifu</p>
  </article>
  <article class="h-entry clickable flex-card" data-url="/misc/">
    <h2 class="p-name">
      <a class="u-url u-uid" href="/misc/">Misc</a>
    </h2>
    <p class="p-summary">Things that can't fit into a category yet</p>
  </article>
</div>