{% set finalUrl = cardUrl %}
{% if cardUrl == '/devlog' %}
  {% set finalUrl = '/code/devlog' %}
{% endif %}
<article class="h-entry clickable" data-url="{{ finalUrl }}">
  <header>
    <h2 class="p-name">
      <a class="u-url u-uid" href="{{ finalUrl }}">
        {{ cardTitle }}
      </a>
    </h2>
    <p class="main-meta">
      {{ cardReadingTime }}
    </p>
    <p class="sub-meta">
      <time class="dt-published" datetime="{{ cardDate | htmlDateString }}">
        {{ cardDate | readableDate }}
      </time>
      <a class="p-author h-card" href="/">Stille Jia-Rou</a>
    </p>
  </header>
  {% if cardSummary %}
    <p class="p-summary">{{ cardSummary }}</p>
  {% endif %}
</article>