<article class="h-entry clickable" data-url="{{ cardUrl }}">

  <header>
    <h2 class="p-name">
      <a class="u-url u-uid" href="{{ cardUrl }}">
        {{ cardTitle }}
      </a>
    </h2>

    {# MAIN META — what the reader cares about #}
    <p class="main-meta">
      {{ cardReadingTime }}
    </p>

    {# SUB META — microformats-required but secondary #}
    <p class="sub-meta">
      <time class="dt-published" datetime="{{ cardDate | htmlDateString }}">
        {{ cardDate | readableDate }}
      </time>
      
      <span class="p-author h-card">
        <a class="u-url p-name" href="/">Stille Jia-Rou</a>
      </span>
    </p>
  </header>

  {# MAIN CONTENT FOR CARD = SUMMARY #}
  {% if cardSummary %}
    <p class="p-summary">{{ cardSummary }}</p>
  {% endif %}

</article>
