{% set finalUrl = cardUrl == '/devlog' ? '/code/devlog' : cardUrl %}

<article class="h-entry clickable" data-url="{{ finalUrl }}">

  <header>
    <h2 class="p-name">
      <a class="u-url u-uid" href="{{ finalUrl }}">
        {{ cardTitle }}
      </a>
    </h2>

    <p class="main-meta">
      {{ cardReadingTime }}
    </p>

    <p class="sub-meta">
      <time class="dt-published" datetime="{{ cardDate | htmlDateString }}">
        {{ cardDate | readableDate }}
      </time>
      
      <span class="p-author h-card">
        <a class="u-url p-name" href="/">Stille Jia-Rou</a>
      </span>
    </p>
  </header>

  {% if cardSummary %}
    <p class="p-summary">{{ cardSummary }}</p>
  {% endif %}

</article>
