---
import Social from "../components/Social.astro"
---

<footer>
  <p>
    &copy;{new Date().getFullYear()} Jia-Rou Stille | 
    <Social platform="neocities" username="site/stillejiarou" />
    <Social platform="github" username="stillejiarou" />
  </p>
</footer>