---
import ThemeToggle from './ThemeToggle.astro';
---

<nav>
  <a class="u-url" href="/">Home</a>
  <a class="u-url" href="/about/">About</a>
  <a class="u-url" href="/blog/">Articles</a>
  <a class="u-url" href="/tags/">Tags</a>
  <ThemeToggle />
</nav>
