---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
  <channel>
    <title>Stille Jia-Rou</title>
    <link>https://stillejiarou.neocities.org/</link>
    <description>Guides on Weiqi, coding notes, art, and devlogs.</description>
    {% for post in collections.all | reverse %}
      <item>
        <title>{{ post.data.title }}</title>
        <link>https://stillejiarou.neocities.org{{ post.url }}</link>
        <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
        <description>{{ post.data.summary }}</description>
      </item>
    {% endfor %}
  </channel>
</rss>